/* font installation */

.fira-sans-font {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
/* font installation done */

/* universal selector */

* {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}
/* nav bar design */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

nav .logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-left: 230px;
  padding: 31px 0;
}

nav .logo a {
  text-decoration: none;
  color: rgb(14, 14, 14);
}

nav .btn-holder {
  padding: 24px 0;
}

nav .btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(0, 106, 80);
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  margin-right: 160px;
  transition: .3s;
}

nav .btn:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

/* nav bar end here */

/* Banner section start here */

.hero {
  width: 1280px;
  height: 560px;
  margin: 0 auto;
  background-color: rgb(198, 228, 214);
  border-radius: 24px;
  margin-bottom: 80px;
}

.hero-container {
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.hero-intro h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
  text-align: left;
}

.hero-intro h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  color: rgb(14, 14, 14);
  margin-bottom: 24px;
  text-align: left;
}

.hero-intro .hero-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 17px 34px;
  background-color: rgb(0, 106, 80);
  border-radius: 8px;
  outline: none;
  border: none;
  text-align: left;
  transition: .5s;
  cursor: pointer;
}

.hero-intro .hero-btn:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  color: rgb(0, 106, 80);
}

/* Banner section end here */

/* share class of pob */

.common_h4_title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  text-align: left;
  margin-bottom: 12px;
  background-color: rgb(255, 255, 255);
  transition: .3s;
}

.common_h4_title:hover{
  color: rgb(0, 106, 80);
}

.common-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.7);
  background-color: rgb(255, 255, 255);
}

.common-card {
  width: 302px;
  height: 290px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  transition: .3s;
}

.common-card:hover{
  border: 1px solid rgb(0, 106, 80);
  border-radius: 16px;
}
/*  Pillars of "Bangladesh 2.0" start here */

.pob {
  width: 1280px;
  height: 324px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.pob_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.pob .pob_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
  text-align: left;
  margin-bottom: 32px;
}

/*  Pillars of "Bangladesh 2.0" end here */

/* shared item of vision of future */

.vof-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: rgb(14, 14, 14);
  text-align: left;
  margin-bottom: 24px;
}

.vof-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.7);
  background-color: transparent;
  margin-bottom: 32px;
}

.vof-common-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.7);
  background-color: transparent;
  margin-bottom: 24px;
}

.common-box {
  width: 410px;
  height: 360px;
  box-sizing: border-box;
  border-radius: 16px;
  transition: .5s;
}

.common-box:hover{
  border: 1px solid rgb(0, 106, 80);
}

.digital h4,
.greenn h4,
.modern h4 {
  margin-top: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  text-align: left;
  margin-bottom: 12px;
  background-color: transparent;
  transition: .5s;
}

.digital h4:hover,
.greenn h4:hover,
.modern h4:hover{
  color: rgb(0, 106, 80);
}


.g-btn,
.m-btn,
.d-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgb(255, 255, 255);
  padding: 11px 22px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* The Vision of Future section start here */
.vof {
  width: 1280px;
  height: 550px;
  margin: 0 auto;
}

.vof_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.digital {
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
}

.digital img {
  margin-bottom: 25px;
  background: transparent;
}

.greenn {
  background-color: rgb(198, 228, 214);
  padding: 32px;
}



.greenn img {
  margin-bottom: 25px;
  background: transparent;
}

.modern {
  background-color: rgb(247, 235, 207);
  padding: 25px;
}


.modern img {
  margin-bottom: 25px;
  background: transparent;
}

.d-btn {
  background: rgb(84, 144, 245);
  transition: .3s;
  cursor: pointer;
}

.d-btn:hover{
  border: 1px solid rgb(0, 106, 80);
  background-color: transparent;
  color: rgb(0, 106, 80);
}

.g-btn {
  background: rgb(9, 161, 92);
  transition: .3s;
  cursor: pointer;
}

.g-btn:hover{
  border: 1px solid rgb(0, 106, 80);
  background-color: transparent;
  color: rgb(0, 106, 80);
}

.m-btn {
  background: rgb(255, 194, 57);
  transition: .3s;
  cursor: pointer;
}

.m-btn:hover{
  border: 1px solid rgb(0, 106, 80);
  background-color: transparent;
  color: rgb(0, 106, 80);
}
/* The Vision of Future section end here */

/* quote section start here */

.quote {
  width: 1280px;
  height: 256px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.quote-container {
  padding: 48px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: url(https://i.ibb.co.com/BNZK4vk/quote-bg.png), rgb(255, 255, 255);
  background-position: 24px 24px;
  background-repeat: no-repeat;
  z-index: 100;
}

.quote-description {
  background: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.quote-title {
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}

.quote-sub-description {
  background: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(14, 14, 14, 0.6);
}

/* quote section end here */

/* opinion section start here */

.opinion {
  width: 1280px;
  height: 480px;
  margin: 0 auto;
}

.opinion-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: rgb(14, 14, 14);
}

.opinion-table {
  padding: 16px 32px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

table th {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: rgb(14, 14, 14);
}

table thead tr th {
  background-color: rgb(198, 228, 214);
  color: #333;
  font-weight: bold;
  border-collapse: separate;
  border: none;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #ccc;
}

table tbody tr {
  background-color: #ffffff;
}

tbody td {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgb(14, 14, 14);
}

table select {
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
  margin-left: 70px;
}

table select option{
  background-color: rgb(198, 228, 214);
}

table select:hover{
  border: 1px solid rgb(0, 106, 80);
}



/* opinion section end here */

/* recent news start here */

.shared-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.recent-news {
  width: 1280px;
  height: 1406px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.recent-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: rgb(14, 14, 14);
}

.recent_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  gap: 32px;
  margin-bottom: 24px;
}

.satellite img {
  border-radius: 24px;
}

.recent-text {
  background: rgb(255, 255, 255);
}

.recent-text .r-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: rgba(14, 14, 14, 0.8);
  background: rgb(255, 255, 255);
  margin-bottom: 12px;
}

.recent-img {
  background: rgb(255, 255, 255);
}

.recent-img img {
  margin-bottom: 12px;
  background: rgb(255, 255, 255);
}

.time-date {
  display: flex;
  gap: 12px;
  background: rgb(255, 255, 255);
  margin-bottom: 12px;
}

.time-date p {
  background: rgb(255, 255, 255);
}

.recent-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 13px 26px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  transition: .5s;
  cursor: pointer;
}

.recent-btn:hover{
  border: 1px solid rgb(0, 106, 80);
  background-color: transparent;
  color: rgb(0, 106, 80);
}

.recent_second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  gap: 32px;
  margin-bottom: 24px;
}

/* recent news end here */

/* donate section start here */

.donate {
  width: 1280px;
  height: 464px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.donate-div-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.common-donate {
  width: 240px;
  height: 128px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  transition: .5s;
  cursor: pointer;
}

.common-donate:hover{
  background-color: aquamarine;
}

.common-donate h3 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  list-style: 48px;
  color: rgba(14, 14, 14, 0.8);
  background-color: transparent;
  padding: 48px;
}

.active-donate {
  width: 240px;
  height: 128px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(198, 228, 214);
  transition: .5s;
  cursor: pointer;
}

.active-donate:hover{
  background-color: aquamarine;
}

.active-donate h3 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  list-style: 48px;
  color: rgba(14, 14, 14, 0.8);
  background-color: transparent;
  padding: 48px;
}

.btn-recent {
  text-align: center;
}

.donate input[type="text"] {
  width: 1032px;
  height: 64px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.3);
  background: rgb(255, 255, 255);
  margin: 0px 124px;
  margin-bottom: 32px;
}

/* donate section end here */

/* subscribe newsletter start here */

.newsletter {
  width: 1280px;
  height: 395px;
  margin: 0 auto;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.subscribe {
  background-color: rgb(198, 228, 214);
  margin-bottom: 25px;
}

.subscribe input[type="text"] {
  border-radius: 8px 0px 0px 8px;
  width: 600px;
  height: 55px;
  border: none;
  outline: none;
  padding: 0 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(14, 14, 14, 0.3);
  background: rgb(255, 255, 255);
}


.subscribe-btn{
  width: 150px;
  height: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  padding: 13px 26px;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  margin-left: -4px;
  transition: .5s;
}

.subscribe-btn:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 106, 80);
  color: #333;
}

/* subscribe newsletter end here */

/* footer start here */

.footer{
  width: 100%;
  /* height: 226px; */
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.f-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.f-images{
  margin-top: 64px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.padding{
  padding-right: 23px;
}

.footer h3{
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: rgb(14, 14, 14);
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
}